<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
</head>
<body>
    <header></header>
    <main>
        <section><h1>Add New Entry</h1></section>
        <section><h1>Recent Posts</h1>
        <article>
            <div><h2>A Bit of Chill Day Today</h2><time datetime="19-04-2023">19 Apr 2023</time></div>
            <p>Today I couldn't do much programming , but thats OK! can't be too awesome every day now!</p>
        </article></section>
    </main>
    <footer></footer>
</body>
</html>